.home-slider
	padding-top 50px
	.carousel-control.left, .carousel-control.right
		background-image: none;
		gradient: none;
		filter: none;
		span
			color #eee
			font-size 40px
			
	.carousel-indicators li
		margin-bottom -50px
		width 15px
		height 15px
		border-color #666
		background-color #fff
	.carousel-indicators
		.active
			border-color #666
			background-color #ccc
			margin-bottom -50px
			width 15px
			height 15px



	