@import "../components/_top-line.styl"
@import "../components/_home-slider.styl"

main
	padding 55px 0
	background-color #fff
	
.social	
	padding-left 20px
	.twitter
		background-color #1da1f2
	.facebook
		background-color #3b5998
	.vk
		background-color #4E729A
	i
		margin-left 10px
		width 35px
		text-align center
		height 35px
		line-height 35px
		border-radius 2px
		color #fff

.table
	margin 0px auto
	.block
		border-radius 2px
		padding 30px
		text-align center
		box-shadow 0 0 1px #666
		margin-top 10px
		cursor pointer
		transition box-shadow .3s
		font bold 14px/20px Arial
		a
			color #333
			transition color .3s
			text-decoration none
			&:hover
				color #999

group
	margin 20px auto
	p.name-block
		font bold 18px/20px Arial
		text-transform uppercase
		letter-spacing 1px
		margin 20px
.block-tov
		margin-bottom 20px
		box-shadow 0 0 1px #aaa	
		border-radius 2px
		transition box-shadow .3s
		&:hover
			box-shadow 0 0 2px #333
		.image
			width 100%
			padding 5px
			img
				width 100%
				height auto
				cursor pointer
		.description
			padding 10px
			h3
				margin 0 0 5px 0
				overflow hidden
				text-overflow ellipsis
				font normal 14px/16px Arial
				white-space nowrap
			ul
				height 150px
				oveflow hidden
				margin 0
				padding 0 
				list-style-type none
				li
					height 16px
					overflow hidden
					font normal 13px/16px Arial
					color #333
					white-space nowrap
					text-overflow ellipsis
					a
						margin-left 10px
					&.stars
						margin 5px 0 0 0
						color #FFD644
						i 
							margin-left 2px
					&.buy-box
						height 40px
						position relative
						heigth 40px
						.price
							font bold 18px/40px Arial
							color #333
						.button
							position absolute
							right 0px
							top 5px
							button
								width 90px
								background-color #d74f51
								color #fff
								border none
								height 30px
								transition .3s
							button:hover
								background-color #f66062
					span
						color #777
				
					


	
