mixin block-tov
	.col-lg-3.col-md-6.col-sm-6.col-xs-12
		.block-tov
			.image
				img(src="images/content/iphone.jpg", alt="")
			.description
				h3 
					a(href="") Apple iPhone 6 16GB space gray
				ul
					li.stars
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star-half-o" aria-hidden="true")
						a(href="") 2 отзыва
					li Диагональ экрана: 
						span 4.7";
					li Разрешение экрана: 
						span 1334x750;
					li Камера: 
						span 8 Mpx;
					li Количество ядер: 
						span 2;
					li Оперативная память: 
						span 1 Гб;
					li Внутренняя память: 
						span 16 Гб;
					li.buy-box
						.price 22 000 грн.
						.button
							button Купить


mixin block-tov-tablet
	.col-lg-3.col-md-6.col-sm-6.col-xs-12
		.block-tov
			.image
				img(src="images/content/ipad.jpg", alt="")
			.description
				h3 
					a(href="") Планшет Apple iPad mini Retina Wi-Fi 16GB Gray (ME276)
				ul
					li.stars
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star-half-o" aria-hidden="true")
						a(href="") 2 отзыва
					li Диагональ экрана: 
						span 7,9";
					li Разрешение экрана: 
						span 2048x1536;
					li Камера: 
						span 5 Мп;
					li Количество ядер: 
						span 2;
					li Оперативная память: 
						span 1 Гб;
					li Внутренняя память: 
						span 16 Гб;
					li.buy-box
						.price 7 000 грн.
						.button
							button Купить


mixin block-tov-laptop
	.col-lg-3.col-md-6.col-sm-6.col-xs-12
		.block-tov.laptop
			.image
				img(src="images/content/notebook.jpg", alt="")
			.description
				h3 
					a(href="") Ноутбук Apple MacBook Pro Retina 13" (Z0QP002R0)
				ul
					li.stars
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star" aria-hidden="true")
						i(class="fa fa-star-half-o" aria-hidden="true")
						a(href="") 2 отзыва
					li Диагональ экрана: 
						span 13,3";
					li Разрешение экрана: 
						span 2560x1600;
					li Тип процессора: 
						span Intel Core i7 (3.1 ГГц);
					li Оперативная память: 
						span 16 Гб;
					li Жесткий диск SSD: 
						span 1 Тб;
					li Графический адаптер: 
						span Intel Iris Graphics 6100;
					li.buy-box
						.price 7 000 грн.
						.button
							button Купить