aside[class*='col-']
	padding 0
	padding-top 55px
nav
	ul
		margin 0
		padding 0
		list-style-type none
		li[class*='col-']
			padding 0
		li
			border-bottom 1px solid #444557
			&:first-child 
				background-color #2d2d37
			&:first-child a:hover
				background-color #2d2d37
				color #a4a5b7
			&:first-child a:hover>.ico-nav
				color #a4a5b7
				
			a
				padding-left 10px
				height 50px
				display block
				color #a4a5b7
				text-decoration none
				text-transform uppercase
				letter-spacing 1.3px
				font bold 11px/50px Arial
				transition background-color .1s
				white-space normal
				overflow hidden
				&:hover
					background-color #fff
					color #626173
				&:hover>.ico-nav
					color #f16c71
				.ico-nav
					text-align center
					float left
					i
						width 40px
						height 50px
						line-height 50px
						display block
				.link
					float left
					
						