aside.col-lg-2.col-md-3.col-sm-3.col-xs-2
	nav
		ul
			li.kat
				a(href="")
					.ico-nav
						i(class="fa fa-bars fa-2x" aria-hidden="true")
					.link Каталог товаров
				.clear
			li 
				a(href="phone.html")
					.ico-nav
						i(class="fa fa-mobile fa-2x" aria-hidden="true")
					.link Телефоны
				.clear
			li 
				a(href="tablet.html")
					.ico-nav
						i(class="fa fa-tablet fa-2x" aria-hidden="true")
					.link Планшеты
					.clear
			li 
				a(href="laptop.html")
					.ico-nav
						i(class="fa fa-laptop fa-2x" aria-hidden="true")
					.link Ноутбуки
					.clear
			li.col-xs-12.hidden-lg.hidden-md.hidden-sm
				a(href="")
					.ico-nav
						i(class="fa fa-user fa-2x" aria-hidden="true")
					.clear
			li.col-xs-12.hidden-lg.hidden-md.hidden-sm
				a(href="")
					.ico-nav
						i(class="fa fa-shopping-cart fa-2x" aria-hidden="true")
					.clear

