header.container-fluid
	.logo.col-lg-2.col-md-3.col-sm-3.col-xs-2
		a(href="index.html") Logo

	.search.col-lg-7.col-md-6.col-sm-5.col-xs-10
		.wrap-search
			form
				input(type="search" name="main-search" placeholder="Поиск")
				i(class="fa fa-search" aria-hidden="true")

	.account.col-lg-3.hidden-xs
		.card
			.ico
				i(class="fa fa-shopping-cart fa-2x" aria-hidden="true")
			.text Корзина
			.count 1
			.clear

		.log
			.sing Вход
		.clear